.ideas{
    
}

.ideas_message{
    display:flex;
    align-items:center;
    justify-content: center;
    width:85%;
    margin:0 auto;
    
}

.ideas_message h2{
    font-size:30px;
    margin:0 3%;
    color: #F29559;
    
}

.ideas_message a{
    font-size: 20px;
    color:#77787B;
    border:1px solid gray;
}

.ideas_message a:hover{
    opacity:0.5;
}

.idea_logo{
    background-image: url("../img/idea.png");
    width:100px;
    height:110px;
    background-size:cover;
}

.idea_posts{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    width:90%;
    margin: 0 auto;
}

.idea_post_wrapper{
    width: 100%;
    margin: 0 auto;
    display: flex;
    border: 1px solid #000;
}

.idea_image{
    margin:0;
    padding:0;
    display: flex;
    flex:1;
}

.idea_image img{
    display: block;
    margin:0 auto;
    border:3px solid #F0F0F0;
}

.idea_content{
    display: grid;
    flex: 2;
    align-items: center;
}

.idea_content a{
    color: #F29559;
    font-size: 26px;
    
}

.idea_content_wrapper{
    display:flex;
    
}

.date_icon{
    background-image: url("../img/clock.png");
    width:40px;
    height:40px;
    background-size:cover;
}

.user_icon{
    background-image: url("../img/user.png");
    width:40px;
    height:40px;
    background-size:cover;
}

.idea_content_wrapper p{
    display: inline-block;
}

.tag{
    border-radius: 15px ;
    background-color: #c0c0c0;
    color:#4682b4;
}


.troubles{

}

.troubles_message{
    display:flex;
    align-items:center;
    justify-content: center;
    width:85%;
    margin:0 auto;
}

.troubles_message h2{
    font-size:30px;
    margin:0 5%;
    color: #F29559;
}

.troubles_message a{
    font-size: 20px;
    color:#77787B;
    border:1px solid gray;
}

.troubles_message a:hover{
    opacity:0.5;
}

.trouble_logo{
    background-image: url("../img/trouble.png");
    width:100px;
    height:110px;
    background-size: contain;
    background-repeat: no-repeat;
}


.trouble_posts{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    width:90%;
    margin: 0 auto;
}

.trouble_post_wrapper{
    width: 100%;
    margin: 0 auto;
    display: flex;
    border: 1px solid #000;
}

.trouble_image{
    margin:0;
    padding:0;
    display: flex;
    flex:1;
}

.trouble_image img{
    display: block;
    margin:0 auto;
    border:3px solid #F0F0F0;
}

.trouble_content{
    display: grid;
    flex: 2;
}

.trouble_content a{
    color: #F29559;
    font-size: 26px;
}

.trouble_content_wrapper{
    display:flex;
    
}

.trouble_content_wrapper p{
    display: inline-block;
}