.idea_detail_wrapper{
    width:85%;
    margin:0 auto;
}

.idea_image{
    width:60%;
    margin:0 auto;
}

.idea_title{
    display:flex;
    align-items: center;
}

.idea_title h2{
    flex:5;
}

.idea_title a{
    flex:1;
}

.idea_content{
    display:flex;
    flex-flow: column;
}

.idea_content h3{
    text-align: left;
}

.idea_content p{
    text-align: center;
}

.submit_button{
    width:30%;
    margin-left: auto;
    display: flex;
    justify-content: center;
}

.return{
    width:20%;
    margin-left:auto;
}
